.content {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  padding: 0 0.8rem;
}

.postInfo {
  display: flex;
  align-items: center;

  span {
    display: flex;
    align-items: center;
    color: var(--gray-200);
    line-height: 1.1rem;
    font-size: 0.875rem;

    & + span {
      margin-left: 1.71rem;
    }

    svg {
      margin-right: 0.625rem;
    }
  }
}
