.hero {
  margin-bottom: 4rem;
  width: 100%;

  img {
    width: 100%;
    object-fit: cover;
    max-height: 25rem;
  }
}

.post {
  padding-bottom: 5rem;
  h1 {
    font-weight: 700;
    font-size: 3rem;
    margin-bottom: 1.562rem;
  }
}

.postSection {
  margin-top: 4.125rem;

  p{
    color: var(--gray-200);
  }

  & p:first-child {
    margin-top: 3rem;
  }

  & p:not(:last-child){
    margin-bottom: 1.5rem;
  }

  ul {
    margin: 1.5rem 0 1.5rem 1rem;
  }

  li {
    margin: 0.5rem 0;
  }
}

.navigateTool {
  width: 100%;
  position: relative;
  font-size: 1.125rem;
  padding-top: 3rem;
  border-top: 1px solid var(--gray-100);
  margin-top: 3.75rem;

  span {
    color: var(--pink);
    font-size: 1rem;
    font-weight: 600;
  }

  a{
    display: flex;
    flex-direction: column;
  }
}

.previous {
  position: absolute;
  left: 0;
}

.next {
  position: absolute;
  right: 0;
  align-items: flex-end;
}
